html, body {
  min-height: 100vh;
}

iframe {
  border: none;
}
#root {
  min-height: 100vh;
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}


.App {
  text-align: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.App a {
  display: inline-block;
  text-decoration: none;
}
.App .logo {
  margin-bottom: 40px;
}

.nav-links {
  margin: 30px 0;
}
.nav-links a.active {
  background-color: deeppink;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#add-book {
  display: none;
}

.App-link {
  color: #61dafb;
}

form.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.login input, .signup input {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}